<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<!-- Bootstrap! -->
	<link href="{{ site.url }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<h1>{{ site.title }}</h1>
	<h2>{{ page.title }}</h2>
	<div class="byline">by {{ site.author }}</div>
	<div>{{ content }}</div>

	<!-- Bootstrap! -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ site.url }}/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>