<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	{% include style.html %}
</head>
<body>
	<div class="container">
		{% include navigation.html %}
		<div class="row">
			<div class="span12">
				<h2>{{ page.title }}</h2>
				<div class="row">
					<div class="span4">
						<p class="text-info"><i class="icon-user"></i> by {{ site.author }}<p class="text-info">
					</div>
					<div class="span8">{{ content }}</div>
				</div>
			</div>
		</div>
	</div>
	{% include javascript.html %}
</body>
</html>