<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	<!-- Bootstrap! -->
	<link href="{{ site.url }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">{% include navigation.html %}</div>
		</div>

		<h1>{{ site.title }}</h1>

		<div class="row">
			<div class="span4">
				<h2>{{ page.title }}</h2>
				<span class="byline">by {{ site.author }}</span>
			</div>
			<div class="span8">{{ content }}</div>
		</div>
	</div>
	<!-- Bootstrap! -->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{{ site.url }}/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>