<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	{% include style.html %}
</head>
<body>
	<div class="container">
		{% include navigation.html %}
		<div class="row">
			<div class="span12">
				<h1>{{ page.title }}</h1>
				<div class="row">
					<div class="span9">
						{{ content }}
						<hr>
						<div class="row">
							<ul class="thumbnails">
								{% for image in page.images %}
								<li class="span3">
									<div class="thumbnail">
										<img data-src="{{ image.src }}" alt="{{ image.label }}">
										<h3>{{ image.label }}</h3>
										<p>{{ image.caption }}</p>
									</div>
								</li>
								{% endfor %}
							</ul>
					</div>
					</div>
					<div class="span3"><p class="muted">Copyright &copy; 2012 {{ site.author }}</p></div>
				</div>
			</div>
		</div>
	</div>
	{% include javascript.html %}
</body>
</html>