<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ page.title }}</title>
	{% include style.html %}
</head>
<body>
	<div class="container">
		{% include navigation.html %}
		<div class="row">
			<div class="span12">
				<h1>{{ page.title }}</h1>
				<div class="row">
					<div class="span9">
						{{ content }}
						{% if page.images && page.images.size > 0 %}
						<hr>
						<div class="row">
							<ul class="thumbnails">
								{% for image in page.images %}
								<li class="span3">
									<div class="thumbnail">
										<a data-toggle="lightbox" href="#image-{{ forloop.index }}">
											<img src="{{ image.src }}" alt="{{ image.label }}">
										</a>
										<h3>{{ image.label }}</h3>
										<p>{{ image.caption }}</p>
									</div>
								</li>
								{% endfor %}
							</ul>
							{% for image in page.images %}
							<div id="image-{{forloop.index}}" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
								<div class='lightbox-header'>
									<button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
								</div>
								<div class='lightbox-content'>
									<img src="{{image.src}}">
								</div>
							</div>
						{% endfor %}
						</div>
						{% endif %}
					</div>
					<div class="span3"><p class="muted">Copyright &copy; 2012 {{ site.author }}</p></div>
				</div>
			</div>
		</div>
	</div>
	{% include javascript.html %}
</body>
</html>